.bg-dark{
    background-color:grey !important;
    color:black !important;
    border-bottom:2px solid blue;
}
.navbar-brand img{
    height: 7vh;
    width: 7vw;

}
.ml{
    margin-left:35vw;
    margin-right: 16vw;
}
.thumbnail-section img{
    height: 15vh;
    width: 15vw;;
}
.nav-item a.nav-link:hover{
    color:black !important;
    border-bottom:1px solid cyan;
}
.col-12 img{
    width: 75%;
    margin-left: 2.2em;
}
.hidden-section p{
    font-family: 'Gelasio', serif;
}
.footer-section{
    margin-top:1em;
    background-color: cadetblue;
    border-top: 2px solid blue;
}